<div class="reply-header">
  <div>
    <h1 class="reply-title">Peut-être est-il temps de relancer la conversation avec :</h1>
  </div>
  <div class="reply-avatar-block">
    <% if @message.contact.photo.attached? %>
      <%= image_tag @message.contact.photo, class: "avatar-mobile ms-2" %>
    <% else %>
      <%= image_tag "default-avatar.png", class: "avatar-mobile" %>
    <% end %>
    <span class="reply-contact-name"><%= @message.contact.name %></span>
  </div>
</div>

<!-- Dernier message envoyé par l'utilisateur et resté sans réponse -->
<div class="msg-bubble-pink mb-3">
  <div class="reply-block-title d-flex justify-content-between align-items-center" onclick="toggleBlock('last-message-block', 'icon-last')">
    <span>Dernier message de ta part</span>
    <span id="icon-last">🔻</span> <!-- Flèche vers le bas -->
  </div>
  <div id="last-message-block" class="slide-toggle open">
    <div class="card-mobile msg-inner-bubble mb-0">
      <div class="message-content"><%= @message.content %></div>
      <div class="message-date text-end">Il y a <%= time_ago_in_words(@message.created_at) %></div>
    </div>
  </div>
</div>

<!-- Historique -->
<% if @summary.present? %>
  <div class="msg-bubble-pink mb-2">
    <div class="reply-block-title d-flex justify-content-between align-items-center" onclick="toggleBlock('history-messages-block', 'icon-history')">
      <div>
        <%= @message.contact.name %> fait partie de votre entourage proche !<br>
        Voici un résumé de vos derniers échanges :
      </div>
      <span id="icon-history">🔻</span> <!-- Flèche vers le bas -->
    </div>

    <div id="history-messages-block" class="slide-toggle open">
        <div class="card-mobile msg-inner-bubble mb-1">
          <div class="message-content"><%= @summary %></div>
        </div>
    </div>
  </div>
<% end %>

<!-- Suggestion de réponse (toujours visible) -->
<div class="msg-bubble-pink mb-3">
  <div class="reply-block-title">Suggestion de relance :</div>
  <div class="card-mobile msg-inner-bubble mb-0">
    <div class="message-content"><%= @message.ai_draft %></div>
  </div>
  <div class="reply-btn-row">
    <%= simple_form_for Message.new do |f| %>
      <%= f.input :conversation_id, as: :hidden, input_html: { value: @conversation.id } %>
      <%= f.input :content, as: :hidden, input_html: { value: @message.ai_draft } %>
      <%= f.submit "Envoyer", class: "btn btn-pink reply-btn" %>
    <% end %>

    <%= link_to "Modifier", edit_message_path(@message), class: "btn btn-pink reply-btn" %>
  </div>
</div>

<script>
function toggleBlock(blockId, iconId) {
  const block = document.getElementById(blockId);
  const icon = document.getElementById(iconId);

  if (!block || !icon) return;

  const isOpen = block.classList.contains("open");

  if (isOpen) {
    block.classList.remove("open");
    icon.innerHTML = "🔻"
  } else {
    block.classList.add("open");
    icon.innerHTML = "🔺"
  }
}
</script>
