<div class="dashboard-header">
  <h2>Peut-être est-il temps de relancer la conversation avec <%= @message.contact.name %> ?</h2>
  <p class="dashboard-welcome">Voici un résumé de vos derniers échanges</p>
</div>

<div class="card-mobile mb-2">
    <div class="message-content"><%= @summary %></div>
</div>

  <div class="card-mobile mb-2">
    <div class="message-author"><strong>Dernier message de ta part :</strong> <%= time_ago_in_words(@message.created_at) %> ago</div>
    <div class="message-content"><%= @message.content %></div>
  </div>

  <div class="card-mobile mb-2">
    <div class="message-author"><strong>Suggestion de relance</strong></div>
    <div class="message-content"> <%= @new_message.ai_draft %></div>
    <%= link_to "Éditer", edit_message_path(@message), class: "btn btn-edit" if @message&.id.present? %>
  </div>
