<div class="reply-header">
  <div>
  <h1 class="reply-title">Prends donc un peu de temps pour : </h1>
  </div>
  <div class="reply-avatar-block">
  <% if @message.contact.photo.attached? %>
  <%= image_tag @message.contact.photo.variant(resize_to_fill: [38, 38]), class: "avatar-mobile ms-2" %>
   <% else %>
      <%= image_tag "default-avatar.png", class: "avatar-mobile" %>
    <% end %>
    <span class="reply-contact-name"><%= @message.contact.name %></span>
  </div>
</div>

  <div class="msg-bubble-pink mb-3">
  <div class="reply-block-title">Dernier message non-répondu</div>
  <div class="card-mobile msg-inner-bubble mb-0">
    <div class="message-content"><%= @message.content %></div>
    <div class="message-date text-end">Il y a <%= time_ago_in_words(@message.created_at) %></div>
  </div>
</div>

<div class="msg-bubble-pink mb-3">
  <div class="reply-block-title">Suggestion de réponse :</div>
  <div class="card-mobile msg-inner-bubble mb-0">
    <div class="message-content"><%= @message.ai_draft %></div>
  </div>
  <div class="reply-btn-row">
    <%= form_with url: send_message_message_path(@message), method: :post, local: true do |form| %>
    <%= form.hidden_field :user_answer, value: @message.ai_draft %>
    <%= form.submit "Envoyer", class: "btn btn-pink reply-btn" %>
     <% end %>
    <%= link_to "Editer", edit_message_path(@message), class: "btn btn-pink reply-btn" %>
  </div>
</div>

<% if @history_messages.present? %>
  <div class="msg-bubble-pink mb-2">
    <div class="reply-block-title">
      <%= @message.contact.name %> fait partie de votre entourage proche !<br>
      Voici un résumé de vos derniers échanges :
    </div>
    <% @history_messages.each do |m| %>
      <div class="card-mobile msg-inner-bubble mb-1">
        <div class="message-content"><%= m.content %></div>
        <% if m.user_answer.present? %>
          <div class="message-content reply-user-answer">↪ <%= m.user_answer %></div>
        <% end %>
        <div class="message-date text-end">Il y a <%= time_ago_in_words(m.created_at) %></div>
      </div>
    <% end %>
  </div>
<% end %>
