<div class="reply-header">
  <div>
    <h1 class="reply-title">Prends donc un peu de temps pour :</h1>
  </div>

  <%= link_to message_path(@message.contact), class: "reply-card" do %>
    <div class="reply-avatar-block">
      <% if @message.contact.photo.attached? %>
        <%= cl_image_tag @message.contact.photo.key, class: "avatar-mobile ms-2" %>
      <% else %>
        <%= image_tag "default-avatar.png", class: "avatar-img", alt: @message.contact.name %>
      <% end %>
      <span class="reply-contact-name"><%= @message.contact.name %></span>
    </div>
  <% end %>
</div>

<!-- Historique -->
<% if @summary.present? %>
  <div class="msg-bubble-pink mb-2">
    <div class="reply-block-title d-flex justify-content-between align-items-center" onclick="toggleBlock('history-messages-block', 'icon-history')">
      <div>
        Voici un résumé de vos derniers échanges :
      </div>
      <span id="icon-history">🔻</span>
    </div>

    <div id="history-messages-block" class="slide-toggle non-open">
        <div class="card-mobile msg-inner-bubble mb-1">
          <div class="message-content"><%= @summary %></div>
        </div>
    </div>
  </div>
<% end %>

<!-- Dernier message non répondu -->
<div class="msg-bubble-pink mb-3">
  <div class="reply-block-title d-flex justify-content-between align-items-center" onclick="toggleBlock('last-message-block', 'icon-last')">
    <span>Dernier message non-répondu</span>
    <span id="icon-last">🔻</span>
  </div>
  <div id="last-message-block" class="slide-toggle non-open">
    <div class="card-mobile msg-inner-bubble mb-0">
      <div class="message-content"><%= @message.content %></div>
      <div class="message-date text-end">Il y a <%= time_ago_in_words(@message.created_at) %></div>
    </div>
  </div>
</div>

<!-- Suggestion de réponse (toujours visible) -->
<div class="msg-edit-card mb-3">
  <%= render "messages/ai_suggestion", message: @message, conversation: @conversation %>
</div>

<script>
function toggleBlock(blockId, iconId) {
  const block = document.getElementById(blockId);
  const icon = document.getElementById(iconId);

  if (!block || !icon) return;

  const isOpen = block.classList.contains("open");

  if (isOpen) {
    block.classList.remove("open");
    icon.innerHTML = "🔻"; // Flèche vers le bas pour fermer
  } else {
    block.classList.add("open");
    icon.innerHTML = "🔺"; // Flèche vers le haut pour ouvrir
  }
}
</script>
