<div class="chat-container">
  <h2 class="conversation-header">Conversation avec <%= @conversation.contact.name %></h2>
  <hr>
  <%= turbo_stream_from "conversation_#{@conversation.id}_messages" %>
  <div class="sms-chat" id="messages">
    <% @messages.each do |message| %>
      <%= render 'messages/message', message: message %>
    <% end %>
  </div>
  <div class="chat-form-row">
    <%= form_with model: Message.new,
              url: messages_path,
              data: {
                controller: "send-message reset-form",
                send_message_target: "form",
                action: "submit->send-message#submit turbo:submit-end->reset-form#reset"
              },
              html: { class: "chat-form" } do |f| %>
      <%= f.hidden_field :conversation_id, value: @conversation.id %>
      <%= f.hidden_field :contact_id, value: @conversation.contact_id %>
      <%= f.text_area :content, placeholder: "Message", class: "chat-input" %>
      <%= f.submit "Envoyer", class: "chat-send-btn" %>
    <% end %>
  </div>
</div>
