<div class="chat-container">
  <h2>Conversation avec <%= @conversation.contact.name %></h2>
  <hr>
  <div class="sms-chat">
    <% @messages.each do |message| %>
      <%= render partial: "messages/message", locals: { message: message } %>
    <% end %>
  </div>
  <div class="chat-form-row">
    <%= form_with model: Message.new, url: messages_path, local: true, html: { class: "chat-form" } do |f| %>
      <%= f.hidden_field :conversation_id, value: @conversation.id %>
      <%= f.hidden_field :contact_id, value: @conversation.contact_id %>
      <%= f.text_area :content, placeholder: "Message", class: "chat-input" %>
      <%= f.submit "Envoyer", class: "chat-send-btn" %>
    <% end %>
  </div>
</div>
