<div class="card-mobile mb-4">
  <%= form_with(model: @contact, local: true) do |form| %>
    <div class="mb-2">
      <%= form.label :name, "Nom" %>
      <%= form.text_field :name, class: "input-mobile" %>
    </div>
    <div class="mb-2">
      <%= form.label :notes, "Notes" %>
      <%= form.text_area :notes, class: "input-mobile" %>
    </div>
    <div class="mb-2">
      <%= form.label :relationship_id, "Relation" %>
      <%= form.collection_select :relationship_id, Relationship.all, :id, :relation_type, {}, {class: "input-mobile"} %>
    </div>
    <div class="mb-2">
      <%= form.label :photo, "Photo" %>
      <%= form.file_field :photo, class: "input-mobile" %>
    </div>
    <%= form.submit "Ajouter", class: "btn-add btn-pink mt-2" %>
  <% end %>
</div>
<%= render "shared/navbar_bottom" %>
