<div class="container-fluid py-5">
  <div class="row justify-content-center">
    <div class="col-md-6 col-12">
      <div class="devise-header">
        <%= image_tag "logo.png", alt: "Logo Rekonect", class: "devise-logo" %>
        <div class="devise-title-block">
        <h1 class="devise-title">Rekonect</h1>
        <div class="app-slogan">
          <i class="fas fa-comment-dots slogan-bubble"></i>
          <span>Restes proches, simplement</span>
          </div>
        </div>
        <p class="devise-desc">
          Rekonect vous aide à reprendre contact avec vos proches en douceur.<br>
          Des rappels personnalisés pour garder le lien, sans efforts.
        </p>
      </div>

      <div class="devise-card card shadow-lg p-4">
        <h2 class="text-center mb-3">Connexion à Rekonect</h2>
        <p class="text-center mb-4 text-muted" style="font-size: 1.08rem;">
          Heureux de te revoir 👋<br>
        </p>


<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs">
    <div class="input-with-icon">
      <i class="fas fa-envelope"></i>
    <%= f.input :email,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
      <i class="fas fa-lock"></i>
    <%= f.input :password,
                required: false,
                input_html: { autocomplete: "current-password" } %>
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>

    <%= f.button :submit, "🔓 Se connecter", class: "devise-link" %>
          </div>
        </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>
<%= render "devise/shared/links" %>
