<!DOCTYPE html>
<html>
  <head>
    <title>Rekonect - Le lieu pour se rekonecter avec ses proches</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
    <meta name="description" content="Rekonect permet de reprendre contact avec ses proches tout en douceur">


    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="Rekonect" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="	https://www.rekonect.space/users/sign_in" />
    <meta property="og:image" content="	https://www.rekonect.space/assets/logo-d4804255dd4846b43fba598e96c7eb869d8202d89289cf9973faec7f6eb64f00.png" />
    <meta property="og:description" content="Rekonect permet de reprendre contact avec ses proches tout en douceur!" />
    <meta property="og:site_name" content="Rekonect" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@rekonect"> <!-- Remplace par ton compte Twitter -->
    <meta name="twitter:title" content="Rekonect">
    <meta name="twitter:description" content="Rekonect permet de reprendre contact avec ses proches tout en douceur!">
    <meta name="twitter:creator" content="@rekonect"> <!-- Remplace par ton compte Twitter -->
    <meta name="twitter:image:src" content="https://rekonect.com/rekonect_1200x630.png">


    <!-- app/views/layouts/application.html.erb -->
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  </head>

  <%# ajout d'une classe personnalisée dans le body pour ne pas casser le body général quand on veut toucher à celui d'une page %>
  <body data-current-user-id="<%= current_user ? current_user.id : "" %>" class="<%= controller_name %>-<%= action_name %>">
  <%= render "shared/flashes" %>
  <%= render "shared/xp_bar" %>
  <div data-controller="badge-popup level-up"></div>
  <% if session[:level_up] && current_user&.level == session[:level_up] %>
  <div id="pending-levelup" data-level="<%= session[:level_up] %>"></div>
  <% session.delete(:level_up) %>
  <% end %>
  <%= render "shared/navbar_bottom" %>
  <%= yield %>
</body>
</html>
